.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text {
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 40px;
    font-weight: 500;
}
.hero-text p {
    max-width: 700px;
    line-height: list;
    margin: 10px auto 20px;
    font-size: 20px;
}
.hero-text button {
    padding: 12px 30px;
    font-size: 18px;
    background-color: #ffd700;
    color: #1c1c1c;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*--media query for responsive hero section--*/
@media (max-width: 850px){
    .hero-text h1 {
        font-size: 40px;
    }
}
@media (max-width: 650px){
    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;


    }
    .hero-text p {
        font-size: 14px;
        margin: 15px auto 30px;
    }
}